.App {
  text-align: center;
}

.App-header {
  height: 230px;
  background-image: url(https://missmarketingpe.files.wordpress.com/2020/07/20200722_170412.jpg?w=736);
  background-size: cover;
}
nav{
  background-image: url(https://s1.eestatic.com/2019/02/18/cocinillas/cocinillas_377224343_116664279_1706x960.jpg);
}



